<div class="container">
  <p>{{ title }}</p>
  <table class="tg">
    <thead>
      <tr>
        <th class="">Id</th>
        <th class="">UserId</th>
        <th class="">Title</th>
        <th class="">Body</th>
        <th class="">Delete</th>
        <th class="">Update</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let post of listPost; let i = index; let o = odd; let e = even"
        [ngClass]="{ odd: o, even: e }"
        id="{{ post.id }}"
      >
        <td>{{ post.id }}</td>
        <td>{{ post.userId }}</td>
        <td>{{ post.title }}</td>
        <td>{{ post.body }}</td>
        <td>
          <button class="delteButton" (click)="deletePostById(post.id)">
            Delete
          </button>
        </td>
        <td>
          <button class="updateButton" (click)="updatePost(post.id)">
            Update
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div>
    <span>id: </span>
    <input (change)="enterId($event)" />
    <span>userId: </span>
    <input (change)="enterUserId($event)" />
    <span>title: </span>
    <input (change)="enterTitle($event)" />
    <span>body: </span>
    <input (change)="enterBody($event)" />
    <button (click)="addPOST()">Add New Post</button>
  </div>
</div>
<router-outlet></router-outlet>
